.header {
  padding: 25px 0;
  text-align: center;
  background: #222;
}

.header img {
  width: 100px;
  height: 13px;
}

.header-animation {
  -webkit-animation: fade-in 2.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	-moz-animation: fade-in 2.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 2.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}
@keyframes fade-in{0%{opacity:0}100%{opacity:1}}