.wrapper {
  margin: 100px 0 150px;
}

.tesla-battery {
  width: 1050px;
  margin: 0 auto;
}

.tesla-battery h1 {
  font-family: 'RobotoNormal';
    font-weight: 100;
    font-size: 38px;
    text-align: center;
    letter-spacing: 3px;
}

.tesla-battery h1.title-animation {
  -webkit-animation: focus-in-contract-bck 2.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: focus-in-contract-bck 2.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-contract-bck 2.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}    

.tesla-climate-container {
  float: left;
  width: 420px;
  padding: 0 40px;
  margin: 0 40px 0 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.tesla-controls {
  display: block;
  width: 100%;
}

.tesla-controls-animation{
  -webkit-animation: slit-in-horizontal 1.45s 2.5s ease-out both;
	-moz-animation: slit-in-horizontal 1.45s 2.5s ease-out both;
	animation: slit-in-horizontal 1.45s 2.5s ease-out both;
}

@-webkit-keyframes slit-in-horizontal{0%{-webkit-transform:translateZ(-800px) rotateX(90deg);transform:translateZ(-800px) rotateX(90deg);opacity:0}54%{-webkit-transform:translateZ(-160px) rotateX(87deg);transform:translateZ(-160px) rotateX(87deg);opacity:1}100%{-webkit-transform:translateZ(0) rotateX(0);transform:translateZ(0) rotateX(0)}}@keyframes slit-in-horizontal{0%{-webkit-transform:translateZ(-800px) rotateX(90deg);transform:translateZ(-800px) rotateX(90deg);opacity:0}54%{-webkit-transform:translateZ(-160px) rotateX(87deg);transform:translateZ(-160px) rotateX(87deg);opacity:1}100%{-webkit-transform:translateZ(0) rotateX(0);transform:translateZ(0) rotateX(0)}}
@-webkit-keyframes focus-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(300px);transform:translateZ(300px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(12px);transform:translateZ(12px);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(300px);transform:translateZ(300px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(12px);transform:translateZ(12px);-webkit-filter:blur(0);filter:blur(0);opacity:1}}